.App {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa; /* Light background for main app */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9fafc; /* Slightly lighter background */
  overflow-y: auto; /* Allow scrolling in main content */
}

h2 {
  color: #0a4685;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
